

body {
    display: flex;
    flex-direction: column;
}
.section1 {
    background-color: #1f2937;
}
.header-section{
    align-self: center;
    display: flex;
    color: white;
    flex-direction: column;
    margin: 30px 150px 0px 150px;
    
}
.Nav {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}
.Nav h3 {
    flex: 1;
    margin: 0;
    font-size: 24px;
}
.navigation {
    display: flex;
    gap: 30px;
}
.navigation a {
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}
.header-1 {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-content: flex-start;

}
.text{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.text h1
{
    font-size:48px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 900;
    color: #F9FAF8;
}

.text p{
    margin-top: 0px;
    font-size: 18px;
    color: #E5E7EB;
}
.first-button{
    background-color:#3882F6;
    border-color:#3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    padding:0;
    width:100px;
    height:30px;
}

.image {
    width: 500px;
    height: 250px;
    background-color: gray;
}
.image p {
    text-align: center;
    margin-top: 125px;
}

.section2 {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    align-items: center;
}
.random {
    font-size:36px;
    font-weight: 900;
    color:#1F2937
}
.illustrations {
    display: flex;
    margin: 20px 200px 50px 200px;
    flex-direction: row;
}
.illust-1, .illust-2, .illust-3, .illust-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    text-align: center; 
}
.cont-1, .cont-2, .cont-3, .cont-4 {
    border: 5px solid #3882F6;
    border-radius: 10px;
    padding:0;
    width:200px;
    height:200px;
}
.section3 {
    background-color: #E5E7EB;
    justify-content: center;
}
.section3-text {
    margin: 100px 300px;
    
}
.quote{
    
    font-size: 36px;
    font-style:italic;
    font-weight:400;
    color:#1F2937
}
.writer {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
}
.section4{
    margin:80px 150px 80px 150px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height:140px;
    width:1000px;
}
.call {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 20px 100px;
    color:#F9FAF8;
    border-radius:5px;

}

.section4-header{
    font-weight: 900;
    font-size: 18px;
    margin:40px 0 0 0;
}

.section4-subtext{
    margin:0 0 40px 0;
}

.second-button{
    align-self: center;
    padding:5px 35px 5px 35px;
    font-size: 18px;
    color:#F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #F9FAF8;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    align-items: center;
    height: 70px;

}
.footer p{

    color: #F9FAF8;
    font-size:20px;
}